<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Tareas</title>
</head>
<body>
    {% if tarea %}
    
    <h2>Editar Tarea</h2>
    <form action="{% url "editar_tarea" tarea.id %}" method="POST">
        {% csrf_token %}
        <label>Nombre</label> <br>
        <input type="text" name="nombre" placeholder="Nombre" value="{{ tarea.nombre }}"> <br>
        <label>Descripcion</label> <br>
        <input type="text" name="desc" placeholder="Descripcion" value="{{ tarea.desc }}"> <br>
        <label>Completada</label>
        <input type="checkbox" name="completada"
            {% if tarea.completada %}
                checked
            {% endif %}
        > <br>
        <input type="submit" value="Actualizar">
    </form>

    {% else %}

    <h2>Agregar Tarea</h2>
    <form action="" method="POST">
        {% csrf_token %}
        <label>Nombre</label> <br>
        <input type="text" name="nombre" placeholder="Nombre"> <br>
        <label>Descripcion</label> <br>
        <input type="text" name="desc" placeholder="Descripcion"> <br>
        <label>Completada</label>
        <input type="checkbox" name="completada"> <br>
        <input type="submit" value="Enviar">
    </form>

    {% endif %}
    
</body>
</html>