<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Tareas</title>
</head>
<body>
    {% for tarea in tareas %}

    <h3>{{ tarea.nombre }}</h3>
    <P>{{ tarea.desc }}</P>
    <p>Completada: 
        {% if tarea.completada == True %}
            Si
        {% else %}
            No
        {% endif %}
    </p>
    <p>Modificada {{ tarea.modificada }}</p> 

    <a href="{% url "editar_tarea" tarea.id %}">Modificar</a>
    <a href="{% url "eliminar_tarea" tarea.id %}">Eliminar</a>

    <hr>

    {% endfor %}
</body>
</html>